.nav{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    padding: 20px 30px;
}
.name-nav{
    display: flex;
    align-items: center;
}
.icon{
    font-size: 33px;
    color: rgb(136, 15, 15);
    margin-right: 5px;
    margin-top: 3px;
}
.nav h1{
    margin: 0px;
}
.nav a{
    text-decoration: none;
    color: black;
    margin-right: 15px;
}



@media only screen and (max-width: 480px) {
    .nav{
        padding: 10px 10px;
        justify-content: space-between;
    }
    .icon{
        font-size: 25px;
    }
    .nav h1{
        font-size: 18px;
    }
    .nav a{
        margin-right: 8px;
    }
    
}